.game {
	overflow:hidden;
	max-width:650px;
	max-height:370px;
	position:absolute;
	top:0;
	left:0;
}
svg {
	position: fixed;
	top:0;
	left:0;
}
table {
	height:100%;
	width:100%;
	table-layout:fixed;
	border-collapse: collapse;
	/*background: url(img/bg_lvl2.svg);
	background-size: cover;*/
}
tr {
}
td {
	padding:0;
}
.null {
	/*background-color: blue;*/
}
.wall {
	/*background: url(img/dirt.svg);
	background-size: cover;*/
	background-color: brown;
}
.moss{
	/*background: url(img/grass.svg);
	background-size: cover;*/
	background:green;
}
.lava {
	background: red;
}
.player {
	/*background: url(img/plato.svg);
	background-size: cover;*/
	background: blue;
}
.lost .player {
	background: red;
}
.won .player {
	background: yellow;
}
.left .player {
       -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.coin {
	background: yellow;
}
.actor {
	position:absolute;
}