#game {
	display:inline-block;
	position:absolute;
	width:550px;
	height:370px;
}
#overlay {
	position:absolute;
	top:0;
	width:550px;
	height:370px;
	background-color: rgba(25,25,25,.9);
}
#mute {
	position:absolute;
	width:22px;
	height:22px;
	top:10px;
	left:10px;
	background-image:url('img/mute.svg');
}
#text-canvas {
	position:absolute;
	top:230px;
	left:180px;
}
.wf-loading {
	visibility: hidden;
}
.wf-active, .wf-inactive {
	visibility: visible;
}

#dialog {
	font-family: "VT323";
	color: white;
}
button {
	outline: none;
}